.welcome-container {
    display: flex;
    justify-content: space-around;
    flex-flow: row-reverse wrap;
    align-items: flex-end;
    margin: 1%;
}

.welcome-img {
    max-width: 35%;
    display: flex;
    flex-flow: column wrap;
}
.description {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    align-content: flex-end;
    max-width: 95%;
    margin: 0px 100px 0px 50px;
}