.navbar {
    display: flex;
    justify-content: flex-end;
    margin:30px 10px 10px 10px;
    flex-direction: row;
    align-content: stretch;

}

.navbar-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: row;
    flex-grow:4
}


.navbar ul {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    font-weight: 800;
    flex-grow:4;
}

.navbar a:hover {
    text-decoration: underline;
  }

.navbar a {
    display: block;
}

  

.navbar li {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 10px 50px 0px 0px;

} 
