p, ul, li, body, a {
  font-family: "Open Sans";
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
text-decoration: none;  
color: #222222;

}

h1 {

font-family: Playfair Display;
font-style: normal;
font-weight: 900;
font-size: 96px;
line-height: 128px;
color: #222222;

}

